# ========== Android ==========
*.iml
.gradle/
local.properties

/build
/captures
.externalNativeBuild/
.cxx/

# ========== Android Studio ==========
.idea/

# opzionale per team
!.idea/misc.xml
!.idea/runConfigurations.xml

# ========== OS ==========
.DS_Store
Thumbs.db

# ========== Firebase / Google Services ==========
google-services.json

# ========== Kotlin / Java ==========
*.class
*.log